<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->

    <div class="flex-auto p-4">
        <!-- CONTENT GOES HERE -->
        <div class="inline-flex rounded-md shadow-xs w-full h-8" role="group">
            <button
                type="button"
                class="w-1/2 px-4 py-2 text-sm font-medium border border-gray-300 rounded-s-lg transition-colors duration-200"
                [ngClass]="selected === 'dinein'
      ? 'bg-emerald-500 text-white'
      : 'bg-transparent text-gray-900 hover:bg-emerald-800 hover:text-white'"
                (click)="setSelection('dinein')"
            >
                Dine In
            </button>

            <button
                type="button"
                class="w-1/2 px-4 py-2 text-sm font-medium border border-gray-300 rounded-e-lg transition-colors duration-200"
                [ngClass]="selected === 'takeaway'
      ? 'bg-emerald-500 text-white'
      : 'bg-transparent text-gray-900 hover:bg-emerald-800 hover:text-white'"
                (click)="setSelection('takeaway')"
            >
                Take Away
            </button>
        </div>

        <div class="flex w-full justify-between py-2">
            <div>
                <strong>Table No:</strong> F12/5th Floor
            </div>
            <div>
                <button type="button" class="px-3 py-2 text-xs font-medium text-center text-white bg-emerald-500 rounded-md hover:bg-emerald-800">Change Table</button>
            </div>
        </div>

        <div class="grid w-full p-16 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4">

            <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-xl p-3 shadow">
                <div class="flex items-start justify-between">
                    <div class="truncate tracking-tight  transform transition-transform duration-400 hover:scale-110">
                        <img [src]="'images/items/burger.jpg'" alt="{{'name'}}" class="rounded-lg object-cover" />
                    </div>
                </div>
                <div class="mt-2 flex flex-col">
                    <div class="flex justify-between">
                        <span class="text-2xl">Burger</span>
                        <span class="text-2xl">500.00</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="text-sm">description</span>
                        <button class="mat-mdc-icon-button">
                            <mat-icon class="text-amber-900 text-3xl">shopping_cart</mat-icon>
                        </button>
                    </div>

                </div>
            </div>
            <div class="bg-card max-w-60 flex flex-auto flex-col overflow-hidden rounded-xl p-3 shadow">
                <div class="flex items-start justify-between">
                    <div class="truncate tracking-tight  transform transition-transform duration-400 hover:scale-110">
                        <img [src]="'images/items/burger.jpg'" alt="{{'name'}}" class="rounded-lg object-cover" />
                    </div>
                </div>
                <div class="mt-2 flex flex-col">
                    <div class="flex justify-between">
                        <span class="text-2xl">Burger</span>
                        <span class="text-2xl">500.00</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="text-sm">description</span>
                        <button class="mat-mdc-icon-button">
                            <mat-icon class="text-amber-900 text-3xl">shopping_cart</mat-icon>
                        </button>
                    </div>

                </div>
            </div>
            <div class="bg-card max-w-60 flex flex-auto flex-col overflow-hidden rounded-xl p-3 shadow">
                <div class="flex items-start justify-between">
                    <div class="truncate tracking-tight  transform transition-transform duration-400 hover:scale-110">
                        <img [src]="'images/items/burger.jpg'" alt="{{'name'}}" class="rounded-lg object-cover" />
                    </div>
                </div>
                <div class="mt-2 flex flex-col">
                    <div class="flex justify-between">
                        <span class="text-2xl">Burger</span>
                        <span class="text-2xl">500.00</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="text-sm">description</span>
                        <button class="mat-mdc-icon-button">
                            <mat-icon class="text-amber-900 text-3xl">shopping_cart</mat-icon>
                        </button>
                    </div>

                </div>
            </div>
            <div class="bg-card max-w-60 flex flex-auto flex-col overflow-hidden rounded-xl p-3 shadow">
                <div class="flex items-start justify-between">
                    <div class="truncate tracking-tight  transform transition-transform duration-400 hover:scale-110">
                        <img [src]="'images/items/burger.jpg'" alt="{{'name'}}" class="rounded-lg object-cover" />
                    </div>
                </div>
                <div class="mt-2 flex flex-col">
                    <div class="flex justify-between">
                        <span class="text-2xl">Burger</span>
                        <span class="text-2xl">500.00</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="text-sm">description</span>
                        <button class="mat-mdc-icon-button">
                            <mat-icon class="text-amber-900 text-3xl">shopping_cart</mat-icon>
                        </button>
                    </div>

                </div>
            </div>
            <div class="bg-card max-w-60 flex flex-auto flex-col overflow-hidden rounded-xl p-3 shadow">
                <div class="flex items-start justify-between">
                    <div class="truncate tracking-tight  transform transition-transform duration-400 hover:scale-110">
                        <img [src]="'images/items/burger.jpg'" alt="{{'name'}}" class="rounded-lg object-cover" />
                    </div>
                </div>
                <div class="mt-2 flex flex-col">
                    <div class="flex justify-between">
                        <span class="text-2xl">Burger</span>
                        <span class="text-2xl">500.00</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="text-sm">description</span>
                        <button class="mat-mdc-icon-button">
                            <mat-icon class="text-amber-900 text-3xl">shopping_cart</mat-icon>
                        </button>
                    </div>

                </div>
            </div>
            <div class="bg-card max-w-60 flex flex-auto flex-col overflow-hidden rounded-xl p-3 shadow">
                <div class="flex items-start justify-between">
                    <div class="truncate tracking-tight  transform transition-transform duration-400 hover:scale-110">
                        <img [src]="'images/items/burger.jpg'" alt="{{'name'}}" class="rounded-lg object-cover" />
                    </div>
                </div>
                <div class="mt-2 flex flex-col">
                    <div class="flex justify-between">
                        <span class="text-2xl">Burger</span>
                        <span class="text-2xl">500.00</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="text-sm">description</span>
                        <button class="mat-mdc-icon-button">
                            <mat-icon class="text-amber-900 text-3xl">shopping_cart</mat-icon>
                        </button>
                    </div>

                </div>
            </div>
            <div class="bg-card max-w-60 flex flex-auto flex-col overflow-hidden rounded-xl p-3 shadow">
                <div class="flex items-start justify-between">
                    <div class="truncate tracking-tight  transform transition-transform duration-400 hover:scale-110">
                        <img [src]="'images/items/burger.jpg'" alt="{{'name'}}" class="rounded-lg object-cover" />
                    </div>
                </div>
                <div class="mt-2 flex flex-col">
                    <div class="flex justify-between">
                        <span class="text-2xl">Burger</span>
                        <span class="text-2xl">500.00</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="text-sm">description</span>
                        <button class="mat-mdc-icon-button">
                            <mat-icon class="text-amber-900 text-3xl">shopping_cart</mat-icon>
                        </button>
                    </div>

                </div>
            </div>
            <div class="bg-card max-w-60 flex flex-auto flex-col overflow-hidden rounded-xl p-3 shadow">
                <div class="flex items-start justify-between">
                    <div class="truncate tracking-tight  transform transition-transform duration-400 hover:scale-110">
                        <img [src]="'images/items/burger.jpg'" alt="{{'name'}}" class="rounded-lg object-cover" />
                    </div>
                </div>
                <div class="mt-2 flex flex-col">
                    <div class="flex justify-between">
                        <span class="text-2xl">Burger</span>
                        <span class="text-2xl">500.00</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="text-sm">description</span>
                        <button class="mat-mdc-icon-button">
                            <mat-icon class="text-amber-900 text-3xl">shopping_cart</mat-icon>
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
